<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="public/favicon" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="IoT Monitoring Dashboard" />
  <link rel="stylesheet" href="styles/lib/bootstrap.min.css">
  <title>{{ title }}</title>
  <link rel='stylesheet' href='/styles/style.css' />
</head>

<body>
  {{> hero}}
  <h1>{{ title }}</h1>
  <p id="wind_alert" display="none">Vent Fort</p>
  <button type="button" id="door" class="btn btn-primary" onclick="doorEvent()">
    {{#if model.isOpen}}Fermer{{else}}Ouvrir{{/if}}</button>
  <button type="button" id="auto" class="btn btn-info" onclick="autoMode()">Auto</button>
  <div class="charts_container">
    {{#each charts}}
    <div id={{this.name}} class={{this.type}}></div>
    {{/each}}
  </div>
  {{> footer}}
  {{> js-lib}}
  <script type="text/javascript" src="js/main.js"></script>
</body>

</html>